body{
    margin: 0;
    padding: 0;
  background-image: url(./../../asset/GALLERY.png);
    color: white;
    box-sizing: border-box;
}
h1{
    text-align: center;
   font-size: 50px;
   color:#f7cf7e;
}
.intro{
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
}
.example{
    background-color: rgb(255, 255, 255, 0.2);
padding: 20px;

}
.main-content{
    padding: 20px;
    margin: 20px;
}
    

footer {
    text-align: center;
    padding: 1em;
    background: linear-gradient(45deg,  #f7cf7e, rgba(217, 206, 43, 0.39));
    color: rgb(60, 57, 57);
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}